html{
    scroll-behavior: smooth;
}
.itens_menu{
    
   text-align: center;
}
.itens_menu li{

    font-size: 1.3em;
    line-height: 1.5;
}
body{
    background-color: white;

}
section{
    margin-top: 2%;
    margin-bottom: 2%;
}

.container{

    width: 80%;
    margin:auto;

}
h1{
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
}
h2{
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
}
.img_corpo{
    width: 50%;
}
.img_insta{
    width: 8%;
}
.img_twitter{
    width: 10%;
}
figure{
    text-align: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%; 
}
.img_topo{
    width: 100%;
}
p{
    font-size: 1.8em;
    text-indent: 50px;
    text-align: justify;
    line-height: 1.5;
}
a{
    color: black;
}
footer{
    background-color: ;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

